<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<style>
    /*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-698 {
        padding: var(--sectionPadding);
        overflow: hidden;
    }
    #meet-team-698 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #meet-team-698 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #meet-team-698 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #meet-team-698 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #meet-team-698 .cs-color {
        color: var(--primary);
    }
    #meet-team-698 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #meet-team-698 .cs-text {
        margin-bottom: 1rem;
    }
    #meet-team-698 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
   
    #meet-team-698 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* 16px - 20px */
        gap: clamp(1rem, 2.3vw, 1.25rem);
        position: relative;
    }
    #meet-team-698 .cs-item {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }
    
    #meet-team-698 .cs-picture {
        width: 100%;
        height: auto;
        border-radius: 999px;
        /* removed at tablet */
        aspect-ratio: 328/407;
        /* clips img tag from overflowing it on hover */
        overflow: hidden;
        display: block;
        position: relative;
        z-index: 1;
    }
    #meet-team-698 .cs-picture:before {
        /* default gradient */
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(
            359.46deg,
            rgba(26, 26, 26, 0.85) 12.04%,
            rgba(26, 26, 26, 0) 63.74%
        );
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        transition: opacity 0.3s;
    }
    #meet-team-698 .cs-picture:after {
        /* on hover gradient, we do it this way so the gradients can animate between dark and gree */
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(
            359.46deg,
            #5a766a 12.04%,
            rgba(90, 118, 106, 0) 63.74%
        );
        opacity: 0;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        transition: opacity 0.3s;
    }
    #meet-team-698 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
        object-position: top;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform 0.7s;
    }
    #meet-team-698 .cs-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        z-index: 10;
    }
    #meet-team-698 .cs-name {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 0.25rem 0;
        color: #f6e5db;
        display: block;
    }
    #meet-team-698 .cs-job {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin-right: 0;
        color: #f7f7f7;
        display: block;
        text-align: center;
    }
    #meet-team-698 .cs-graphic {
        width: 64.0625rem;
        height: auto;
        display: none;
        position: absolute;
        top: 50%;
        left: -4.6875rem;
        transform: translateY(-50%);
    }
    #meet-team-698 .cs-graphic img {
        width: 100%;
        height: auto;
    }
}
/* Tablet - 550px */
@media only screen and (min-width: 34.375rem) {
    #meet-team-698 .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    #meet-team-698 .cs-item {
        width: 48.3%;
    }
    #meet-team-698 .cs-picture {
        height: 25.4375rem;
        /* remove the aspect ratio so the height can be squished */
        aspect-ratio: initial;
    }
}
/* Small Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #meet-team-698 .cs-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #meet-team-698 .cs-card-group {
        max-width: 39.375rem;
    }
    #meet-team-698 .cs-item {
        width: 23.3vw;
        max-width: 19.0625rem;
    }
    #meet-team-698 .cs-graphic {
        display: block;
    }
}

                                
</style>


<section id="meet-team-698">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Meet the Team</span>
            <h2 class="cs-title">Trusted Urgent Care Providers in Dearborn Heights</h2>
            <p class="cs-text">
             
            
                At Quick Doc Urgent Care, we provide fast, affordable, and expert medical care to families and individuals in Dearborn Heights, Michigan, as well as Dearborn, Inkster, Garden City, Livonia, and Westland. Our team of board certified physicians, nurse practitioners, and friendly support staff is committed to delivering compassionate urgent care. No appointment needed.
                          </p>
            {% include 'components/cta_button.html' %}


            
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/kassim.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/kassim.png">
                    <img loading="lazy" decoding="async" src="/assets/images/kassim.png" alt="doctor" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Kassim Nasser, NP</span>
                    <span class="cs-job">Family Nurse<BR>Practitioner</span>
                </div>
            </li> 


            
          
        </ul>
    </div>
</section>
                                