---
title: 'About Quick Doc Urgent Care | Trusted Walk In Clinic in Dearborn Heights, MI'
description: 'Learn about Quick Doc Urgent Care’s expert medical team and commitment to fast, affordable care in Dearborn Heights and nearby cities. Walk ins welcome.'
permalink: 'about-us/'
---

{% extends "layouts/base.html" %}

{% block head %}
    
{% endblock %}

{% block body %}

   

{% include 'components/services_header.html' %}

{% include 'components/about_content.html' %}
{% include 'components/about_content2.html' %}
{% include 'components/testimonial.html' %}
{% include 'components/cta.html' %}
{% include 'components/map.html' %}


{% endblock %}