---
title: 'Know Before You Go | What to Expect at Quick Doc Urgent Care in Dearborn Heights, MI'
description: 'Learn what to expect before visiting Quick Doc Urgent Care in Dearborn Heights. See when to choose urgent care vs ER, what to bring, and how we protect your health info.'
permalink: 'know-before-you-go/'
---

{% extends "layouts/base.html" %}

{% block head %}
    
{% endblock %}

{% block body %}

   

{% include 'components/know_header.html' %}

{% include 'components/know_content.html' %}
{% include 'components/cta.html' %}
{% include 'components/map.html' %}


{% endblock %}