---
title: 'Urgent Care Services in Dearborn Heights | Fast, Affordable & Compassionate Care'
description: 'Explore our walk-in urgent care services in Dearborn Heights. Open 7 days a week. From minor injuries to illness treatment, we offer fast, friendly care. Call (313) 395-2865 today.'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    
{% endblock %}

{% block body %}


{% include 'components/services.html' %}

{% include 'components/services_content.html' %}



{% include 'components/cta.html' %}

{% include 'components/map.html' %}

{% endblock %}