---
title: 'Urgent Care Dearborn Heights | Quick Doc | Open 7 Days a Week'
description: 'Fast, friendly urgent care in Dearborn Heights offering comprehensive services including IV therapy, X-rays, and pediatric care. Open 7 days with extended hours. Call (313) 395-2865.'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

  
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

{% endblock %}

{% block body %}


   
{% include 'components/hero2.html' %}   
{% include 'components/ourservices.html' %}
{% include 'components/map.html' %}



    {% endblock %}